{
    "gpu_settings": {
        "HSA_OVERRIDE_GFX_VERSION": "11.0.0"
    },
    "inference": {
        "use_gpu": false,
        "target_fps": 8
    },
    "paths": {
        "train_data": "TrainData",
        "flat_data": "TrainData_Flat",
        "models": "Models",
        "shm_state": "/dev/shm/spl3ai_state.txt"
    },
    "model_name": "spl3_everything_balanced.pkl",
    "switch": {
        "ip": "192.168.1.XXX",
        "sysbot_port": 6000
    },
    "server": {
        "control_port": 5002,
        "api_port": 5003,
        "control_host": "127.0.0.1",
        "control_bind": "0.0.0.0",
        "api_bind": "0.0.0.0"
    },
    "gem": {
        "bind": "0.0.0.0",
        "port": 6388,
        "submit_timeout": 90
    },
    "api_secret": "YOUR_SUPER_SECRET_TOKEN_HERE",
    "pool_ingest": {
        "url": "https://hana.lol/inksight/pool_ingest_code",
        "token": "YOUR_POOL_INGEST_TOKEN_HERE"
    },
    "capture": {
        "device_name": "UGREEN"
    }
}
